@model DAL.Moldels.Branch



@using (Html.BeginForm("DeletePost", "Branch", FormMethod.Post))
{
    @Html.ValidationSummary(true);

    <br />
    <br />
    <br />




    <div class="row">
        <div class="form-group, col-lg-4">
            <label for="exampleInputPassword1">Branch</label>
            @Html.HiddenFor(m => m.Id)
            @Html.DisplayFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>


        <div class="form-group, col-lg-4">
            <label for="exampleInputPassword2">Manager</label>
            @Html.DisplayFor(m => m.Manager, new { htmlAttributes = new { @class = "form-control" } })
        </div>


    </div>


    <br />
    <br />
    <br />
    <br />
    <br />

    <hr />

    <div style="text-align:center;">
        <button type="submit" value="Submit" class="btn btn-primary">Delete</button>
    </div>











}
